@use "_colors";
@import "_mixins";

.MuiButtonBase-root {
  font-size: 14px !important;

  // Variants

  &.MuiButton-contained {
    padding: 10px 30px !important;
    box-shadow: none !important;
    background-color: colors.$base-primary;
    border-radius: 30px !important;
    &:hover {
      background-color: darken(colors.$base-primary, 3%);
    }

    &.accent-primary {
      background-color: colors.$accent-primary;
      color: colors.$text-primary;
      &:hover {
        background-color: lighten(colors.$accent-primary, 10%);
      }
    }

    &.accent-secondary {
      background-color: colors.$accent-secondary;
      color: colors.$text-primary;
      &:hover {
        background-color: lighten(colors.$accent-secondary, 10%);
      }
    }

    &.base-secondary {
      background-color: colors.$base-secondary;
      color: colors.$text-secondary;
      &:hover {
        background-color: lighten(colors.$base-secondary, 10%);
      }
    }

    &.gradient-soft {
      @include gradient-soft;
      color: colors.$text-primary;
      &:hover {
        background-color: lighten(colors.$accent-primary, 10%);
      }
    }

    &.Mui-disabled {
      opacity: 0.15;
      filter: grayscale(1);
    }
  }

  &.MuiButton-outlined {
    border-width: 2px;
    padding: 10px 30px !important;
    color: colors.$text-primary-contrast;
    border-color: colors.$text-primary-contrast;
    border-radius: 30px !important;
    &.MuiButton-sizeLarge {
      border-width: 3px;
    }

    &.accent-primary {
      border-color: colors.$accent-primary;
      color: colors.$accent-primary;
      &:hover {
        border-color: lighten(colors.$accent-primary, 10%);
        background-color: rgba(colors.$accent-primary, 5%);
      }
    }

    &.accent-secondary {
      border-color: colors.$accent-secondary;
      color: colors.$accent-secondary;
      &:hover {
        border-color: lighten(colors.$accent-secondary, 10%);
        background-color: rgba(colors.$accent-secondary, 5%);
      }
    }
  }

  // Sizes

  &.MuiButton-sizeLarge {
    padding: 13px 45px !important;
    font-size: 16px !important;
    font-weight: bold;
  }
}
