$accent-primary: #438eff;
$accent-primary-contrast: #3978d7;
$accent-primary-translucent: rgba(67, 142, 255, 0.07);
$accent-secondary: #ff00f5;
$accent-secondary-contrast: #d102c9;
$accent-secondary-translucent: rgba(255, 0, 245, 0.07);
$success: #2ce7a3;
$base-primary: #000000;
$base-primary-contrast: #333333;
$base-primary-translucent: #000000b2;
$base-secondary: #ffffff;
$base-secondary-contrast: #f9f9f9;
$base-secondary-translucent: #ffffff1a;
$base-secondary-translucent-x: rgba(255, 255, 255, 0.03);
$text-secondary: #000000;
$text-secondary-contrast: #3a3a3a;
$text-primary: #ffffff;
$text-primary-contrast: #f9f9f9;
