@use "../styles/colors";
@import "../styles/mixins";

.wrapper {
 padding-top: 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin: 10px;
 background: colors.$base-primary-contrast;
 border-radius: 10px;
 width: 900px;
 padding: 20px;
}
.leftblock {
 display: flex;
 font-size: 16px;
 align-items: center;
 img {
  margin-left: 20px;
  width: 40px;
 }
 .theme {
  margin-left: 10px;
 }
}

.rightBlock {
 display: flex;
 flex-direction: row;
 align-items: center;
 .bounty,
 .answers,
 .user {
  margin-right: 30px;
  text-align: center;
  h3 {
   font-size: 14px;
   text-transform: uppercase;
  }
 }
}

.user {
 img {
  width: 40px;
  border-radius: 50%;
 }
}

.card {
 color: colors.$text-primary-contrast;
 background: colors.$base-primary-contrast;
 padding: 20px !important;
}

.gradientText {
 @include gradient-soft;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}

h2 {
 font-size: 20px;
 font-weight: bolder;
}

h3 {
 font-weight: 200;
}

h2,
h3,
h4 {
 margin: 5px;
}

h4 {
 font-weight: bold !important;
}
