@use "../styles/colors";
@import "../styles/mixins";

.modal {
 width: clamp(50%, 700px, 90%);
 height: min(50%, 300px);
 margin: auto;
 padding: 0 2rem;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 background-color: colors.$base-primary-contrast;
}

.title {
 margin: 20px;
 font-size: 30px;
 padding-top: 10px;
}

.info {
 margin: 20px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.leftBlock {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.answers,
.user {
 margin-left: 20px;
 text-align: center;
}

.user {
 img {
  width: 40px;
  border-radius: 50%;
 }
}

.viewButton {
 @include gradient-soft;
 padding: 15px 30px;
 border-radius: 25px;
 font-size: 14px;
 font-weight: 500;
 text-transform: uppercase;
 color: colors.$text-primary-contrast;
 border: none;
}

.gradientText {
 @include gradient-soft;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
