@use "../styles/colors";
@import "../styles/mixins";

.modal {
 width: clamp(45%, 700px, 90%);
 height: min(100%, 900px);
 margin: auto;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 background-color: colors.$base-primary-translucent;
}

.topModal {
 padding: 0px 20px;
}

.title {
 margin: 20px;
 font-size: 30px;
 padding-top: 10px;
}

.info {
 margin: 20px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.leftBlock {
 display: flex;
 flex-direction: row;
 align-items: center;
}

.answers,
.user {
 margin-left: 20px;
 text-align: center;
}

.user {
 img {
  width: 40px;
  border-radius: 50%;
 }
}

.viewButton,
.postButton {
 @include gradient-soft;
 padding: 15px 30px;
 border-radius: 25px;
 font-size: 14px;
 font-weight: 500;
 text-transform: uppercase;
 color: colors.$text-primary-contrast;
 border: none;
}

.cardWrapper {
 width: 100%;
 height: 100%;
 background-color: colors.$base-primary-contrast;
 padding-top: 10px;
 overflow: scroll;
 overflow-x: hidden;
 &::-webkit-scrollbar {
  display: none;
 }
}

.cardTitle {
 margin-left: 20px;
}

.bottomModal {
 padding: 20px;
}

.inputContainer {
 margin: 20px;
}

.input {
 background: colors.$base-primary-contrast;
 color: colors.$text-primary-contrast;
 width: 100%;
 border: none;
 padding: 30px 5px;
 margin-bottom: 20px;
 border-radius: 10px;
 border: 1px solid colors.$base-primary-contrast;
 outline: none;
 &::placeholder {
  font-weight: 300;
  color: colors.$text-secondary-contrast;
  font-family: laca;
  padding-right: 20px;
 }
}

.buttonContainer {
 float: right;
 .postButton {
  margin-right: 20px;
 }
}

.gradientText {
 @include gradient-soft;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
