@use "../styles/colors";
@import "../styles/mixins";

.wrapper,
.correct {
 padding: 0px 20px;
 margin: 20px;
 display: flex;
 flex-direction: column;
 border-radius: 10px;
}

.wrapper {
 background-color: colors.$base-primary-translucent;
}

.correct {
 border: 1px solid colors.$success;
 background-color: #00170f;
}

.user {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.leftBlock {
 display: flex;
 padding: 10px;
 margin-top: 10px;
 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }
 p {
  margin: 5px;
  padding-left: 10px;
 }
}
.rightBlock {
 display: flex;
 align-items: center;
}

.correctIcon {
 width: 25px !important;
}

.acceptButton {
 top: 10px;
 padding: 0px 30px;
 height: 30px;
 text-align: center;
 border-radius: 20px;
 border: 1px solid colors.$success;
 background-color: #00170f;
 font-family: laca;
 font-weight: bold;
 @include gradient-success;
 background-clip: text;
 -webkit-text-fill-color: transparent;
 cursor: pointer;
}

.questionContainer {
 padding: 0 65px;
 p {
  margin-top: 0px;
  margin-bottom: 20px;
 }
}

.gradientText {
 @include gradient-soft;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
